<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Roll the Dice!</title>

</head>

<body>
  <div class="welcome-message">
    <h1>Roll the Dice!</h1>
  </div>

  <br>

  {{{body}}}

</body>

</html>
