<div class="dice-container">
  <img src="/images/dice-rolls/{{d1}}" alt="First roll" class="dice">
  <img src="/images/dice-rolls/{{d2}}" alt="Second roll" class="dice">
</div>

<div class="button-container">
  <button type="button" name="rollagain" onclick="location.href='/rolldice';">Roll Again</button>
  <button type="button" name="Home" onclick="location.href='/';">Home</button>
</div>
