<div class="dice">
  <a href="/rolldice"><img src="/images/dice_cover.png" alt="Set of Dice"></a>
  <a href="/rolldice"><img src="/images/dice_cover.png" alt="Set of Dice"></a>
</div>

<div class="button-container">
  <button type="button" name="rollagain" onclick="location.href='/rolldice';">Roll!</button>
</div>
